/**
 * home.scss
 * @authors Ou Yuan (beyondouyuan.github.io)
 * @date    2017-01-06 14:49:40
 * @version $1.0$
 */
body::-webkit-scrollbar {
  display: none; }

body::-moz-scrollbar {
  display: none; }

body::-ms-scrollbar {
  display: none; }

body::-o-scrollbar {
  display: none; }

.select-card {
  margin-left: 0;
  background-image: none;
  height: 40px;
  padding-top: 16px;
  cursor: pointer; }

.addCard {
  border-top: 1px solid #d6d6d6;
  padding-top: 18px;
  margin-bottom: -58px; }

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../imgs/icon_nomal.png) no-repeat center/100%;
  vertical-align: middle;
  margin: 0 32px 0 18px; }

.on_check {
  border: 1px solid #b1c3e0;
  height: 38px; }
  .on_check .checkbox {
    background-image: url(../imgs/icon_selected.png); }

.add-btn {
  display: inline-block;
  border: 1px solid #d6d6d6;
  border-radius: 0px;
  height: 34px;
  width: 110px;
  line-height: 34px;
  color: #56b5ff;
  font-size: 12px;
  background: none;
  cursor: pointer; }
