/**
 * home.scss
 * @authors Ou Yuan (beyondouyuan.github.io)
 * @date    2017-01-06 14:49:40
 * @version $1.0$
 */
body::-webkit-scrollbar {
  display: none; }

body::-moz-scrollbar {
  display: none; }

body::-ms-scrollbar {
  display: none; }

body::-o-scrollbar {
  display: none; }

input, button {
  outline: medium;
  border: none; }

.layui-layer-ico {
  background: url(../imgs/popup_icon_error.png) no-repeat !important; }

form input {
  width: 366px;
  height: 40px; }
.bform input{
width: 366px;
  height: 40px; }
.bform a{
	color: #56B5FF;
  font-size: 16px; }
form a {
  color: #56B5FF;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

img {
  display: inline-block;
  vertical-align: middle; }

body,
html,
input {
  font-family: Microsoft YaHei;
  font-size: 14px;
  letter-spacing: inherit;
  color: #222; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }
.tradeDetail-con{display: none;}
.wrap {
  width: 75%;
  margin: 0 auto;
  min-width: 980px; }

i {
  font-style: normal; }

.tabbtn {
  height: 30px;
  background: #D1C4E9;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd; }

.tabbtn li {
  float: left;
  margin: 10px;
  cursor: pointer;
  position: relative; }

.tabcon {
  position: relative;
  overflow: hidden;
  width: 100%; }

.tabcon .sublist {
  display: none; }

.top {
  overflow: hidden;
  height: 62px;
  line-height: 62px; }

.top img {
  display: inline-block;
  vertical-align: center;
      margin-top: -6px; }

.logo {
  display: inline-block;
  padding-right: 14px; }

.logo img {
  height: 34px;
  width: auto;
  vertical-align: middle; }

.top-left span {
  padding-left: 14px;
  font-size: 20px;
  border-left: 1px solid #D6D6D6; }

.top-right {
  color: #565656;
  font-size: 12px; }
  .top-right a {margin-right: 4px;
    color: inherit; }
  .top-right li {
    float: left; }
    .top-right li .icon {
      margin-right: 2px; }

header {
  -webkit-box-shadow: 0 0px 8px 2px #E3E3E3;
          box-shadow: 0 0px 8px 2px #E3E3E3; }

.tradeDetail {
  height: auto;
  overflow: hidden;
  padding-bottom: 28px; }
  .tradeDetail i {
    font-style: normal; }
  .tradeDetail .tradeDetail-left {
    margin-top: 28px; }
    .tradeDetail .tradeDetail-left li {
      margin-top: 10px; }
    .tradeDetail .tradeDetail-left li:first-child {
      font-size: 20px; }
    .tradeDetail .tradeDetail-left li:nth-child(2) {
      margin-top: 22px;
      font-size: 14px;
      color: #969696; }
    .tradeDetail .tradeDetail-left li:last-child {
      margin-top: 8px;
      color: #333; }
  .tradeDetail .tradeDetail-right {
    margin-top: 42px; }
    .tradeDetail .tradeDetail-right li:first-child {
      font-size: 18px; }
    .tradeDetail .tradeDetail-right li:nth-child(2) {
      text-align: right;
      margin-top: 18px;
      font-size: 14px; }
      .tradeDetail .tradeDetail-right li:nth-child(2) a {
        color: #56b5ff; }

#cash {
  font-size: 30px;
  color: #ff514e; }

.icon {
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 5px; }

.icon-down, .icon-up {
  width: 12px;
  height: 6px;
  background-image: url(../imgs/index_down.png); }

.icon-up {
  background-image: url(../imgs/index_up.png); }

.icon-bank {
  width: 30px;
  height: 38px;
  background-image: url(../imgs/index_icon_bank.png);
  margin-right: 12px;
  vertical-align: middle; }

.icon-error {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 6px;
  background-image: url(../imgs/icon_error.png); }

.icon-plus {
  width: 11px;
  height: 11px;
  background-image: url(../imgs/icon_plus.png); }

.card_bg {
  height: 24px;
  width: 60px;
  vertical-align: middle;
  background-image: url(../imgs/card_bg.png);
  margin-left: 8px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: center; }

.nav-con {
  height: auto;
  padding-bottom: 94px; }

.nav {
  border-top: 2px solid #FF514E;
  -webkit-box-shadow: 0 0px 13px -3px #ff514e;
          box-shadow: 0 0px 13px -3px #ff514e; }
  .nav .tabbtn {
    background: #fff;
    border-bottom: 1px solid #D6D6D6;
    height: 42px; }
    .nav .tabbtn li {
      margin: 0;
      line-height: 42px;
      text-align: center; }
      .nav .tabbtn li a {
        padding: 0 35px;
        width: 118px;
        height: 20px;
        font-size: 16px;
        color: #333;
        border-right: 1px solid #D6D6D6; }
    .nav .tabbtn li.active {
      background: #FF514E; }
      .nav .tabbtn li.active a {
        color: #fff;
        border: none; }
  .nav .tabcon .sublist {
    padding-left: 40px; }
    .nav .tabcon .sublist img.bankcard {
      width: 104px;
      height: 30px;
      display: inline-block;
      vertical-align: middle; }
  .nav .tabcon .quick_payment dt {
    color: #565656;
    font-size: 14px;
    margin-top: 34px; }
    .nav .tabcon .quick_payment dt span {
      margin: 0 12px; }
  .nav .tabcon .quick_payment dd {
    margin-top: 28px;
    color: #333;
    font-size: 16px; }
    .nav .tabcon .quick_payment dd .input {
      display: inline-block;
      margin-left: 18px;
      height: 40px;
      width: 366px;
      background: url(../imgs/index_enter.png) no-repeat 12px center;
      border: 1px solid #D6D6D6; }
      .nav .tabcon .quick_payment dd .input input {
        width: 80%;
        margin-left: 36px;
        height: 40px;
        border: none;
        outline: medium; }
        .nav .tabcon .quick_payment dd .input input::-webkit-input-placeholder {
          color: #969696; }
        .nav .tabcon .quick_payment dd .input input:-ms-input-placeholder {
          color: #969696; }
        .nav .tabcon .quick_payment dd .input input::placeholder {
          color: #969696; }
    .nav .tabcon .quick_payment dd .check-card {
      color: #56B5FF;
      margin-left: 15px; }
  .nav .tabcon .quick_payment dd:last-child {
    margin-top: 98px;
    margin-bottom: 66px; }
    .nav .tabcon .quick_payment dd:last-child button {
      color: #fff;
      background: #FF514E;
      text-align: center;
      height: 42px;
      font-size: 18px;
      width: 150px;
      border: none; }
   .tip {
    color: #FF514E !important;
    margin-top: 12px !important;
    font-size: 14px !important;}
     .tip-error {
    color: #FF514E !important;
    margin-top: 12px !important;
    font-size: 14px !important;}

footer {
  background: #FAFAFA; }

.bank-list {
  height: 304px; }
  .bank-list h1 {
    font-size: 22px;
    font-weight: normal;
    padding-top: 38px;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 30px; }
  .bank-list img {
    height: auto;
    width: 100%; }

.copy {
  background: #394551;
  text-align: center;
  color: #fff;
  height: auto; }
  .copy div {opacity: .6;
    margin-top: 24px; }

.card-detail {
  height: 48px;
  line-height: 48px;
  width: 93.33%;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: -30px;
  margin-left: 0;
  border: 1px solid #b1c3e0;
  font-size: 14px; }
  .card-detail img {
  	    margin-top: -7px;
    height: 22px;
    /*width: 94px;*/
   width: auto;
   margin-left: 10px;
    display: inline-block;
    vertical-align: middle; }
  .card-detail span {
    color: #565656;
    padding-left: 4px;
    padding-right: 12px;
    border-left: 1px solid #D6D6D6; }
    .card-detail span.yuhui{
    	color: #fe9947;
    	margin-left: 10px;
    }
.select-detail a , .card-detail a {
	border-left: 1px solid #d6d6d6;
    color: #56B5FF;
    padding-left: 12px; }

.nav .tabcon .zhifubao {
  padding: 0; }
  .nav .tabcon .zhifubao .f-fl h1 {
    color: #565656;
    margin: 32px 0 28px 38px;
    font-size: 14px;
    font-weight: normal; }
    .nav .tabcon .zhifubao .f-fl h1 span {
      color: #56b5ff; }
  .nav .tabcon .zhifubao .f-fl dl {
    margin-left: 156px; }
  .nav .tabcon .zhifubao .f-fl dl.first {
    width: 268px;
    text-align: center;
    padding-left: 56px; }
    .nav .tabcon .zhifubao .f-fl dl.first .erwei {
      width: 90%;
      height: auto;
      padding: 12px;
      border: 1px solid #d6d6d6;
      border-radius: 0px; }
    .nav .tabcon .zhifubao .f-fl dl.first dd {
      margin-top: 16px;
      padding-top: 20px;
      height: 56px;
      width: 100%;
      background: url(../imgs/pay_bg_red.png) no-repeat left top/100% 100%;
      color: white;
      font-size: 16px;
      vertical-align: middle; }
      .nav .tabcon .zhifubao .f-fl dl.first dd img {
        margin-right: 10px;
        vertical-align: top; }
      .nav .tabcon .zhifubao .f-fl dl.first dd div {
        display: inline-block; }
      .nav .tabcon .zhifubao .f-fl dl.first dd p {
        line-height: 1.2;
        text-align: left; }
  .nav .tabcon .zhifubao .f-fl dl.last {
    margin-top: 32px; }
    .nav .tabcon .zhifubao .f-fl dl.last dt {
      color: #565656; }
    .nav .tabcon .zhifubao .f-fl dl.last dd {
      color: #969696;
      margin: 8px 0 54px 0; }
  .nav .tabcon .zhifubao .f-fr {
    margin-right: 10%;
    margin-top: 80px;
    width: 29.5%; }

.zhanghuzhifu, .baitiao {
  height: 380px; }
  .zhanghuzhifu p, .baitiao p {
    margin-top: 8px;
    color: #FF514E;
    text-align: center;
    font-size:16px; }

.icon {
  display: inline-block; }

.icon-cheapness {
  width: 64px;
  height: 24px;
  background: url(../imgs/card_bg.png) no-repeat left top/cover;
  margin-right: 4px;
  margin-left: 10px;
  color: white;
  line-height: 24px;
  text-align: center; }

table {
  text-align: center;
  border: 1px solid #D6D6D6;
  width: 400px; }
  table th {
    color: #969696;
    font-weight: normal; }
  table tr {
    height: 34px;
    border: 1px solid #D6D6D6; }
    table tr:first-child {
      height: 30px; }
  table td {
    color: #222; }

.check-quota {
  position: relative; }
  .check-quota .b-del-list {
    position: absolute;
    display: none;
    background: #fff;
    z-index: 99;
    left: 0;
    margin-left: -100px;
    top: 29px;
    border: 3px solid rgba(80, 146, 245, 0.5); }

.layui-layer-btn {
  text-align: center; }
  .layui-layer-btn .layui-layer-btn0 {
    background: #ff514e;
    color: #fff;
    font-size: 16px;
    text-align: center;
    height: 42px;
    width: 354px;
    line-height: 42px;
    margin-bottom: 20px; }

.btn {
  padding-left: 1.6%;
  margin: 20px 0 64px 0;
  cursor: pointer; }

#pay-btn {
  color: #fff;
  background: #FF514E;
  text-align: center;
  height: 42px;
  font-size: 18px;
  width: 150px;
  border: none;
  cursor: pointer; }
.qidai{
	width:204px;
	height: 138px;
	margin:24px auto 0 ;
	background: url(../imgs/jpg.png) no-repeat center/100%;
}
