.nav .tabcon .quick_payment dd:last-child {
  margin-top: 8px; }

.bform {
  font-size: 16px;
  color: #333;
  padding-bottom: 66px; }
  .bform p {
    margin-top: 18px; }
  .bform .sele {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../imgs/icon_nomal.png) no-repeat center center;
    vertical-align: middle;
    cursor: pointer; }
  .bform .on_check .sele {
    background-image: url(../imgs/icon_selected.png); }
  .bform #selmsg {
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px; }
    .bform #selmsg span {
      color: #565656; }
    .bform #selmsg a {
      color: #85a6d8; }
  .bform #bank-name {
    margin-top: 18px; }
    .bform #bank-name div {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      border: 1px solid #969696;
      width: 354px;
      padding-left: 12px; }
      .bform #bank-name div img {
        height: 28px;
        width: auto; }
      .bform #bank-name div span {
        float: right; }
        .bform #bank-name div span i {
          margin-right: 12px; }
  .bform label {
    display: inline-block;
    text-align: right;
    width: 64px;
    margin-right: 18px; }
  .bform input {
    border: 1px solid #969696;
    text-indent: 12px;
    height: 40px;
    background: #fff; }
  .bform input:-ms-input-placeholder {
    color: #969696; }
  .bform input::-webkit-input-placeholder {
    color: #969696; }
  .bform input::placeholder {
    color: #969696; }
  .bform .submit {
    color: #fff;
    width: 234px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    margin-top: 36px;
    background: #FF514E;
    border: none;
    cursor: pointer; }

.quick_payment > dl {
  position: relative; }

.b-del {
  position: absolute;
  top: 0;
  right: 7%; }
  .b-del .b-del-top {
    height: 230px; }
  .b-del .b-del-item {
    width: 259px;
    padding-left: 50px;
    height: 225px;
    background: url(../imgs/bankcard_bg.png) no-repeat top left/cover;
    margin-top: 10px;
    overflow: hidden; }
    .b-del .b-del-item h1 {
      margin-top: 46px; }
      .b-del .b-del-item h1 span {
        font-size: 12px;
        color: #565656; }
    .b-del .b-del-item #bank-id {
      margin-top: 30px;
      color: #333333; }
@media  screen and (max-width:1200px) {
	.b-del{
		width: 30%;
		right: 6%;
	}
	.b-del .b-del-item{
		    width: 244px;
	}
	table{
		width: 322px;
	}
}
@media  screen and  (min-width: 1201px) and (max-width:1500px){
	.b-del{
		right: 1%;
	}
	table{
		width: 334px;
	}
}
